@font-face {
    font-family: 'Modak';
    src: url('fonts/Modak/Modak-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Modak', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%);
    z-index: -1;
}

h1 {
    color: rgb(199, 227, 247);
    font-size: 100px;
    font-weight: 400;
    margin: 0;
    line-height: normal;
}

canvas {
    display: block;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

@media only screen and (max-width: 760px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}