body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: #4B0082;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%);
    z-index: -1;
    pointer-events: none;
}

@keyframes flip-logo {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(-1);
    }

    100% {
        transform: scaleX(1);
    }
}

.logo {
    height: 256px;
    width: auto;
    animation: flip-logo 6s infinite ease-in-out;
}

canvas {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 0 auto;
    background-color: black;
}

#canvas-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 2;
    max-width: 720px;
    margin: auto;
    height: auto;
    overflow: hidden;
}

#canvas-area {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 2;
    height: auto;
    overflow: hidden;
}

#fullscreen-icon:hover {
    transform: scale(1.1);
}

#start-screen {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #4B0082;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#start-screen span {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    transition: all 0.3s ease;
}

#start-screen span:hover {
    transform: translateX(-50%) scale(1.05);
}

.game-button-group {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

#controls-info {
    background-color: #4B0082;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 32px 0 0 0;
    padding: 8px;
    border-radius: 8px;
}

.control-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.control-group img {
    height: 40px;
    object-fit: contain;
}

.control-group .title {
    height: 30px;
}

#explanation-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#explanation-info img {
    height: 128px;
    width: auto;
}

.explanation-text {
    color: #4B0082;
    font-size: 24px;
    text-align: center;
    margin: 0;
}

.game-options {
    background-color: #4B0082;
    padding: 4px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    bottom: 8px;
    right: 8px;
    flex-wrap: nowrap;
    max-width: 100%;
    flex-shrink: 1;
    width: max-content;
    /* Nur so groß wie nötig */
    height: auto;
    box-sizing: border-box;
}

.game-options img {
    height: 24px;
    width: auto;
    transition: transform 0.2s ease;
}

.game-options img:hover {
    transform: scale(1.1);
}

.fullscreen-active .game-options {
    gap: 32px;
    top: 66px;
    right: 200px;
}

.fullscreen-active #mute-button img,
.fullscreen-active #fullscreen-button img {
    width: 48px;
    height: 48px;
}

#game-end-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 30, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.end-box {
    font-size: 32px;
    text-align: center;
    color: white;
    background-color: #4B0082;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 20px black;
}

.game-end-screen-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#back-to-start-button {
    font-size: 24px;
    border-radius: 12px;
    padding: 6px 48px;
    border: 2px solid white;
}

#try-again-button img {
    display: block;
    width: auto;
    height: 48px;
}

#try-again-button {
    transition: all 0.3s ease;
}

#try-again-button:hover {
    transform: scale(1.05);
}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dialog.hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.dialog.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.dialog-content {
    background-color: #73fcd6;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 90%;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

#close-instructions img {
    height: 16px;
    width: auto;
    transition: all 0.3s ease;
}

#close-instructions img:hover {
    transform: scale(1.05);
}

#instructions-title {
    font-size: 32px;
    color: #4B0082;
    text-align: center;
    margin: 0;
}

@media only screen and (max-width: 760px) {
    canvas {
        width: 100%;
    }

    .end-box {
        font-size: 24px;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@media only screen and (max-width: 430px) {
    h1 {
        font-size: 60px;
    }

    .custom-button {
        font-size: 24px;
    }

    .dialog-content {
        max-width: 300px;
    }

    #instructions-title {
        font-size: 24px;
    }

    .control-group img {
        height: 30px;
    }

    .control-group .title {
        height: 24px;
    }

    #explanation-info img {
        height: 80px;
    }

    .game-options img {
        height: 12px;
        width: auto;
    }
}

@media (max-height: 650px) {
    .logo {
        height: 128px;
    }
}

@media (max-height: 515px) {
    .game-button-group {
        margin: 0 0 24px 0;
    }

    #start-screen span {
        position: initial;
    }
}

@media (max-height: 430px) {
    .logo {
        display: none;
    }
}

@media (max-height: 335px) {
   #start-screen {
    padding: 0 0 24px 0;
   }
}

@media (max-height: 275px) {
    .logo {
        display: none;
    }
}